#homepage-container {
    display: grid;
    grid-template-columns: 1fr;
}

#menu-container {
    display: grid;
    grid-template-columns: 1fr;
}

#image-homepage-container{
    background-image : url("../images/restaurant.jpg");
    height : 750px;
    background-size : auto;
    background-repeat : no-repeat;
    background-position: center;
}

#image-menu-container{
    background-image : url("../images/menu.jpg");
    height : 750px;
    background-size : auto;
    background-repeat : no-repeat;
    background-position: center;
}

#gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    /* max-height: 100vh; */
}

#thumbnails-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 50px; */
    max-height: 100vh;
}

img {
max-height: 100%;
}

.modal {
    display: none;
}

.modal-back {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba( 0, 0, 0, .25 )
}

.modal-container {
position: fixed;
top: 50%;
left: 50%;
padding: 25px;
background: white;
transform: translate(-50%, -50%);
}

